<title>资源管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">系统设置</a>
        <a>
            <cite>资源管理</cite>
        </a>
    </div>
</div>


<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">菜单名字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">模块</label>
                    <div class="layui-input-inline">
                        <input type="text" name="model" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">是否禁用</label>
                    <div class="layui-input-inline">
                        <select name="isForbid">
                            <option value="0">请选择</option>
                            <option value="1">否</option>
                            <option value="2">是</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">类别</label>
                    <div class="layui-input-inline">
                        <select name="category">
                            <option value="">请选择</option>
                            <option value="1">权限限制</option>
                            <option value="2">非权限限制</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">打开方式</label>
                    <div class="layui-input-inline">
                        <select name="type">
                            <option value="0">请选择</option>
                            <option value="1">查询</option>
                            <option value="2">添加</option>
                            <option value="3">更新</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
            </div>
            <table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
            <script type="text/html" id="category">
                {{# if(d.category=='1'){ }}
                权限限制
                {{# }else if (d.category=='2'){ }}
                非权限限制
                {{# }else{ }}
                未定义
                {{# } }}
            </script>
            <script type="text/html" id="isForbid">
                {{# if(d.isForbid=='1'){ }}
                未禁用
                {{# }else if (d.isForbid=='2'){ }}
                禁用
                {{# }else{ }}
                未定义
                {{# } }}
            </script>
            <script type="text/html" id="type">
                {{# if(d.type=='1'){ }}
                查询
                {{# }else if (d.type=='2'){ }}
                添加
                {{# }else if (d.type=='3'){ }}
                更新
                {{# }else{ }}
                未定义
                {{# } }}
            </script>
            <script type="text/html" id="table-content-list">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
                        class="layui-icon layui-icon-delete"></i>删除
                </a>
            </script>
        </div>
    </div>
</div>
<script>
    layui.use('resource', layui.factory('resource'))
</script>