<title>部门与职位管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">系统设置</a>
        <a>
            <cite>部门与职位管理</cite>
        </a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">组/部门名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-inline">
                        <select name="type">
                            <option value="0">请选择</option>
                            <option value="1">部门</option>
                            <option value="2">职位</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">是否禁用</label>
                    <div class="layui-input-inline">
                        <select name="isForbid">
                            <option value="0">请选择</option>
                            <option value="1">否</option>
                            <option value="2">是</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
            </div>
            <table class="layui-table layui-form" id="tree-table" lay-filter="tree-table"></table>
            <script type="text/html" id="isForbid">
                {{# if(d.isForbid=='1'){ }}
                未禁用
                {{# }else if (d.isForbid=='2'){ }}
                禁用
                {{# }else{ }}
                未定义
                {{# } }}
            </script>
            <script type="text/html" id="minuser">
                {{# if(d.minuser == null){ }}
                0人
                {{# }else{ }}
                {{d.minuser }}人
                {{# } }}
            </script>
            <script type="text/html" id="maxuser">
                {{# if(d.maxuser == null){ }}
                0人
                {{# }else{ }}
                {{d.maxuser }}人
                {{# } }}

            </script>
            <script type="text/html" id="table-content-list">
                {{# if(d.type == 1){ }}
                <a class="layui-btn layui-btn-checked layui-btn-xs" lay-filter="add"><i
                        class="layui-icon layui-icon-edit"></i>添加
                </a>
                {{# }else{ }}
                {{# } }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-filter="edit"><i
                        class="layui-icon layui-icon-edit"></i>编辑
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-filter="del"><i
                        class="layui-icon layui-icon-delete"></i>删除
                </a>
            </script>
        </div>
    </div>
</div>

<script>
    layui.use('group', layui.factory('group'))
</script>
