<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link href="/css/core.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <script src="/lib/jq/jquery.min.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
<form class="container" action="hello" method="POST">
    <div class="form-horizontal">
        <span class="heading">后台管理系统登录页</span>
        <div class="form-group">
            <input name="username" type="text" class="form-control" id="username" value="请输入用户名"/>
        </div>
        <div class="form-group">
            <input name="password" type="text" class="form-control" id="password" value="请输入密码"/>
        </div>
        <div class="form-group">
            <li class="li4">
                <input class="submit" type="submit" id="btnSubmit" value="登录">
            </li>
            <li class="li3">
                <a class="visitor" href="index">游客身份进入</a>
            </li>
        </div>
    </div>
</form>
<script type="text/javascript">

</script>
</body>
</html>