<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ex.store.sys.mapper.DictionaryMapper">

    <select id="findDictionaryByCondition" resultType="com.ex.store.core.dto.DictionaryDto" parameterType="com.ex.store.core.dto.DictionaryDto">
        select `dic_id` as dicId, `dic_key` dicKey, `dic_value` dicValue, `dic_parentid` dicParentid, `dic_create_time` dicCreateTime, `dic_update_time` dicUpdateTime, `dic_category` dicCategory,
        `dic_is_stair` dicIsStair, `dic_sort` dicSort, `dic_desc` dicDesc, `dic_forbid` dicForbid,`dic_leaf` dicLeaf ,`dic_name` dicName,`dic_is_def` dicIsDef,`dic_code` dicCode, `dic_is_laytpl` dicIsLaytpl ,
        `dic_laytplId` dicLaytplId from `ex_sys_dictionary`
        <where>
            1=1
            <if test="dicId != null and dicId != ''">
                and dic_id = #{dicId,jdbcType=INTEGER}
            </if>
            <if test="dicKey != null and dicKey != ''">
                and dic_key = #{dicKey,jdbcType=VARCHAR}
            </if>
            <if test="dicValue != null and dicValue != ''">
                and dic_value = #{dicValue,jdbcType=VARCHAR}
            </if>
            <if test="dicParentid != null and dicParentid != ''">
                and dic_parentid = #{dicParentid,jdbcType=INTEGER}
            </if>

            <if test="dicCategory != null and dicCategory != ''">
                and dic_category = #{dicCategory,jdbcType=VARCHAR}
            </if>
            <if test="dicIsStair != null and dicIsStair != ''">
                and dic_is_stair = #{dicIsStair,jdbcType=VARCHAR}
            </if>
            <if test="dicSort != null and dicSort != ''">
                and dic_sort = #{dicSort,jdbcType=VARCHAR}
            </if>
            <if test="dicDesc != null and dicDesc != ''">
                and dic_desc = #{dicDesc,jdbcType=VARCHAR}
            </if>
            <if test="dicForbid != null and dicForbid != ''">
                and dic_forbid = #{dicForbid,jdbcType=INTEGER}
            </if>
            <if test="dicLeaf != null and dicLeaf != ''">
                and dic_leaf = #{dicLeaf,jdbcType=INTEGER}
            </if>
            <if test="dicName != null and dicName != ''">
                and dic_name = #{dicName,jdbcType=VARCHAR}
            </if>
            <if test="dicIsDef != null and dicIsDef != ''">
                and dic_is_def = #{dicIsDef,jdbcType=INTEGER}
            </if>
            <if test="dicCode != null and dicCode != ''">
                and dic_code = #{dicCode,jdbcType=VARCHAR}
            </if>
            <if test="dicLaytplId != null and dicLaytplId != ''">
                and dic_laytplId = #{dicLaytplId,jdbcType=INTEGER}
            </if>
            <if test="dicIsLaytpl != null and dicIsLaytpl != ''">
                and dic_is_laytpl = #{dicIsLaytpl,jdbcType=VARCHAR}
            </if>
        </where>
        order by dic_sort asc
    </select>

    <insert id="insertDictonary" parameterType="java.util.List" keyProperty="dicId" useGeneratedKeys="true">
        INSERT INTO `ex_sys_dictionary`(`dic_key`, `dic_value`, `dic_parentid`, `dic_create_time`,
        `dic_update_time`, `dic_category`, `dic_is_stair`, `dic_sort`, `dic_desc`, `dic_forbid`,`dic_leaf`,`dic_name`,`dic_is_def`,`dic_code`,`dic_laytplId`,`dicIsLaytpl`) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.dicKey,jdbcType=VARCHAR},#{item.dicValue,jdbcType=VARCHAR},#{item.dicParentid,jdbcType=INTEGER},#{item.dicCreateTime,jdbcType=TIMESTAMP},#{item.dicUpdateTime,jdbcType=TIMESTAMP},#{item.dicCategory,jdbcType=VARCHAR},
            #{item.dicIsStair,jdbcType=VARCHAR},#{item.dicSort,jdbcType=VARCHAR},#{item.dicDesc,jdbcType=VARCHAR},#{item.dicForbid,jdbcType=INTEGER},#{item.dicLeaf,jdbcType=INTEGER},#{item.dicName,jdbcType=VARCHAR}
            ,#{item.dicIsDef,jdbcType=INTEGER},#{item.dicCode,jdbcType=VARCHAR},#{item.dicLaytplId,jdbcType=INTEGER},#{item.dic_is_laytpl,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <update id="updateDictonary" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=";">
            UPDATE `ex_sys_dictionary`
            <set>
                <if test="item.dicKey != null and item.dicKey != ''">
                    dic_key = #{item.dicKey,jdbcType=VARCHAR},
                </if>
                <if test="item.dicValue != null and item.dicValue != ''">
                    dic_value = #{item.dicValue,jdbcType=VARCHAR},
                </if>
                <if test="item.dicParentid != null and item.dicParentid != ''">
                    dic_parentid = #{item.dicParentid,jdbcType=INTEGER},
                </if>
                <if test="item.dicCreateTime != null">
                    dic_create_time = #{item.dicCreateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.dicUpdateTime != null">
                    dic_update_time = #{item.dicUpdateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="item.dicCategory != null and item.dicCategory != ''">
                    dic_category = #{item.dicCategory,jdbcType=VARCHAR},
                </if>
                <if test="item.dicIsStair != null and item.dicIsStair != ''">
                    dic_is_stair = #{item.dicIsStair,jdbcType=VARCHAR},
                </if>
                <if test="item.dicSort != null and item.dicSort != ''">
                    dic_sort = #{item.dicSort,jdbcType=VARCHAR},
                </if>
                <if test="item.dicDesc != null and item.dicDesc != ''">
                    dic_desc = #{item.dicDesc,jdbcType=VARCHAR},
                </if>
                <if test="item.dicForbid != null and item.dicForbid != ''">
                    dic_forbid = #{item.dicForbid,jdbcType=INTEGER},
                </if>
                <if test="item.dicForbid != null and item.dicForbid != ''">
                    dic_leaf = #{item.dicLeaf,jdbcType=INTEGER},
                </if>
                <if test="item.dicName != null and item.dicName != ''">
                    dic_name = #{item.dicName,jdbcType=VARCHAR},
                </if>
                <if test="item.dicIsDef != null and item.dicIsDef != ''">
                    dic_is_def = #{item.dicIsDef,jdbcType=INTEGER},
                </if>
                <if test="item.dicCode != null and item.dicCode != ''">
                    dic_code = #{item.dicCode,jdbcType=VARCHAR},
                </if>
                <if test="item.dicLaytplId != null and item.dicLaytplId != ''">
                    dic_laytplId = #{item.dicLaytplId,jdbcType=INTEGER},
                </if>
                <if test="item.dicIsLaytpl != null and item.dicIsLaytpl != ''">
                    dic_is_laytpl = #{item.dicIsLaytpl,jdbcType=VARCHAR},
                </if>
            </set>
            WHERE dic_id =#{item.dicId,jdbcType=INTEGER}
        </foreach>
    </update>

    <delete id="delDictonary" parameterType="com.ex.store.core.pojo.ExSysDictionary">
        delete from ex_sys_dictionary where dic_parentid = #{dicId,jdbcType=INTEGER}
    </delete>
</mapper>