<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ex.store.sys.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.ex.store.core.pojo.ExSysMenu">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="CATEGORY" property="category" jdbcType="CHAR"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
        <result column="DESC" property="desc" jdbcType="VARCHAR"/>
        <result column="ISFORBID" property="isForbid" jdbcType="INTEGER"/>
        <result column="MODEL" property="model" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="INTEGER"/>
        <result column="SORT" property="sort" jdbcType="INTEGER"/>
        <result column="ICON" property="icon" jdbcType="VARCHAR"/>
        <result column="PID" property="pid" jdbcType="INTEGER"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findList" resultType="com.ex.store.core.pojo.ExSysMenu">
        select id,name,category,url,'desc',isForbid,model,sort,type,icon,pid,title from ex_sys_menu
    </select>

    <select id="findListByPage" resultType="com.ex.store.core.pojo.ExSysMenu"
            parameterType="com.ex.store.core.vo.PageParameter">
        select id,name,category,url,'desc',isForbid,model,sort,type,icon,pid,title from ex_sys_menu
        <where>
            1 = 1
            <if test="parameter.title != null and parameter.title != ''">
                and title LIKE concat('%',#{parameter.title,jdbcType=VARCHAR},'%')
            </if>
            <if test="parameter.isForbid != null and parameter.isForbid != ''">
                and isForbid = #{parameter.isForbid,jdbcType=INTEGER}
            </if>
            <if test="parameter.type != null and parameter.type != ''">
                and type = #{parameter.type,jdbcType=INTEGER}
            </if>
            <if test="parameter.category != null and parameter.category != ''">
                and category = #{parameter.category,jdbcType=INTEGER}
            </if>
            <if test="parameter.model != null and parameter.model != ''">
                and model = #{parameter.model,jdbcType=VARCHAR}
            </if>
        </where>
        limit ${(page - 1) * limit} , #{limit}
    </select>

    <select id="findCount" resultType="Integer" parameterType="com.ex.store.core.vo.PageParameter">
        select count(1) from ex_sys_menu
        <where>
            1 = 1
            <if test="parameter.title != null and parameter.title != ''">
                and title LIKE concat('%',#{parameter.title,jdbcType=VARCHAR},'%')
            </if>
            <if test="parameter.isForbid != null and parameter.isForbid != ''">
                and isForbid = #{parameter.isForbid,jdbcType=INTEGER}
            </if>
            <if test="parameter.type != null and parameter.type != ''">
                and type = #{parameter.type,jdbcType=INTEGER}
            </if>
            <if test="parameter.category != null and parameter.category != ''">
                and category = #{parameter.category,jdbcType=INTEGER}
            </if>
            <if test="parameter.model != null and parameter.model != ''">
                and model = #{parameter.model,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>