<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ex.store.sys.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.ex.store.core.pojo.ExSysMenu">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="CATEGORY" property="category" jdbcType="CHAR"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
        <result column="DESC" property="desc" jdbcType="VARCHAR"/>
        <result column="ISFORBID" property="isForbid" jdbcType="INTEGER"/>
        <result column="MODEL" property="model" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="INTEGER"/>
        <result column="SORT" property="sort" jdbcType="INTEGER"/>
        <result column="ICON" property="icon" jdbcType="VARCHAR"/>
        <result column="PID" property="pid" jdbcType="INTEGER"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="conditionsSql">
        <if test="title != null and title != ''">
            and title LIKE concat('%',#{title,jdbcType=VARCHAR},'%')
        </if>
        <if test="name != null and name != ''">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="isForbid != null and isForbid != 0">
            and isForbid = #{isForbid,jdbcType=INTEGER}
        </if>
        <if test="pid != null and pid != 0">
            and pid = #{pid,jdbcType=INTEGER}
        </if>
        <if test="type != null and type != 0">
            and type = #{type,jdbcType=INTEGER}
        </if>
        <if test="category != null and category != ''">
            and category = #{category,jdbcType=CHAR}
        </if>
        <if test="model != null and model != ''">
            and model = #{model,jdbcType=VARCHAR}
        </if>
        <if test="icon != null and icon != ''">
            and icon = #{icon,jdbcType=VARCHAR}
        </if>
        <if test="sort != null and sort != 0">
            and sort = #{sort,jdbcType=INTEGER}
        </if>
        <if test="url != null and url != ''">
            and url = #{url,jdbcType=VARCHAR}
        </if>
        <if test="desc != null and desc != ''">
            and desc = #{desc,jdbcType=VARCHAR}
        </if>
    </sql>

    <select id="findList" resultType="com.ex.store.core.pojo.ExSysMenu">
        select id,name,category,url,'desc',isForbid,model,sort,type,icon,pid,title from ex_sys_menu
    </select>

    <select id="findListByPage" resultType="com.ex.store.core.pojo.ExSysMenu"
            parameterType="com.ex.store.core.vo.PageParameter">
        select id,name,category,url,'desc',isForbid,model,sort,type,icon,pid,title from ex_sys_menu
        <where>
            1 = 1
            <if test="parameter.title != null and parameter.title != ''">
                and title LIKE concat('%',#{parameter.title,jdbcType=VARCHAR},'%')
            </if>
            <if test="parameter.isForbid != null and parameter.isForbid != ''">
                and isForbid = #{parameter.isForbid,jdbcType=INTEGER}
            </if>
            <if test="parameter.type != null and parameter.type != ''">
                and type = #{parameter.type,jdbcType=INTEGER}
            </if>
            <if test="parameter.category != null and parameter.category != ''">
                and category = #{parameter.category,jdbcType=INTEGER}
            </if>
            <if test="parameter.model != null and parameter.model != ''">
                and model = #{parameter.model,jdbcType=VARCHAR}
            </if>
        </where>
        limit ${(page - 1) * limit} , #{limit}
    </select>

    <select id="findCount" resultType="Integer" parameterType="com.ex.store.core.vo.PageParameter">
        select count(1) from ex_sys_menu
        <where>
            1 = 1
            <if test="parameter.title != null and parameter.title != ''">
                and title LIKE concat('%',#{parameter.title,jdbcType=VARCHAR},'%')
            </if>
            <if test="parameter.isForbid != null and parameter.isForbid != ''">
                and isForbid = #{parameter.isForbid,jdbcType=INTEGER}
            </if>
            <if test="parameter.type != null and parameter.type != ''">
                and type = #{parameter.type,jdbcType=INTEGER}
            </if>
            <if test="parameter.category != null and parameter.category != ''">
                and category = #{parameter.category,jdbcType=INTEGER}
            </if>
            <if test="parameter.model != null and parameter.model != ''">
                and model = #{parameter.model,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="saveMenu" parameterType="com.ex.store.core.pojo.ExSysMenu">
        insert into ex_sys_menu (`name`, `category`, `url`, `desc`, `isForbid`, `sort`, `type`, `icon`, `pid`, `title`) values (#{name,jdbcType=VARCHAR},#{category,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR}
        ,#{desc,jdbcType=VARCHAR},#{isForbid,jdbcType=INTEGER},#{sort,jdbcType=INTEGER},#{type,jdbcType=INTEGER},#{icon,jdbcType=VARCHAR},#{pid,jdbcType=INTEGER},#{title,jdbcType=VARCHAR})
    </insert>

    <update id="updateByList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE ex_sys_menu
            <set>
                <if test="item.title != null and item.title != ''">
                    `title` = #{item.title,jdbcType=VARCHAR},
                </if>
                <if test="item.name != null and item.name != ''">
                    `name` = #{item.name,jdbcType=VARCHAR},
                </if>
                <if test="item.isForbid != null and item.isForbid != 0">
                    `isForbid` = #{item.isForbid,jdbcType=INTEGER},
                </if>
                <if test="item.pid != null and item.pid != 0">
                    `pid` = #{item.pid,jdbcType=INTEGER},
                </if>
                <if test="item.type != null and item.type != 0">
                    `type` = #{item.type,jdbcType=INTEGER},
                </if>
                <if test="item.category != null and item.category != ''">
                    `category` = #{item.category,jdbcType=CHAR},
                </if>
                <if test="item.model != null and item.model != ''">
                    `model` = #{item.model,jdbcType=VARCHAR},
                </if>
                <if test="item.icon != null and item.icon != ''">
                    `icon` = #{item.icon,jdbcType=VARCHAR},
                </if>
                <if test="item.sort != null and item.sort != 0">
                    `sort` = #{item.sort,jdbcType=INTEGER},
                </if>
                <if test="item.url != null and item.url != ''">
                    `url` = #{item.url,jdbcType=VARCHAR},
                </if>
                <if test="item.desc != null and item.desc != ''">
                    `desc` = #{item.desc,jdbcType=VARCHAR},
                </if>
            </set>
            WHERE id =#{item.id,jdbcType=INTEGER}
        </foreach>
    </update>
</mapper>